Flask-Bootstrap==3.3.7.1
Flask==2.0.3
Flask_Wtf==1.0.0
python-dotenv==0.19.2
Flask-Login==0.5.0
flask-sqlalchemy==2.5.1
flask-migrate==3.1.0
flask-avatars==0.2.2
email_validator==1.1.3
flask-moment==1.0.2
