{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - APP
    {% else %}
    <title>APP</title>
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" style="min-width: 1252px">
        <div class="container">
            <div class="navbar-header">
                <table>
                    <tr>
                        <td>
                            <a class="navbar" style="text-decoration: none" href="{{ url_for('main.feed') }}">
                                <img src="{{ url_for('static', filename = 'icons/people-fill.svg') }}">
                                <b>APP</b>
                            </a>
                        </td>
                        <td style="padding-left: 770px">
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}">Logout</a>
                            {% else %}
                            <a href="{{ url_for('auth.login') }}">Login</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <table class="tab-content">
            <tr>
                <td>
                    {% if current_user.is_authenticated %}
                    {% include 'main/_control_panel.html' %}
                    {% endif %}
                </td>
                <td class="text-center" style="width: 1000px">
                    {% block app_content %}{% endblock %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}