{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ title }} - Аминов Дамир Азатович
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" style="min-width: 1252px">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar" style="text-decoration: none" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename = 'icons/people-fill.svg') }}">
                    <b>APP</b>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        <table class="tab-content">
            <tr>
                <td>
                    <div class="container" style="width: 150px">
                        <ul class="nav flex-column" style="width: 120px">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <img src="{{ url_for('static', filename = 'icons/house.svg') }}"> My page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.index') }}">
                                    <img src="{{ url_for('static', filename = 'icons/newspaper.svg') }}"> Feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="{{ url_for('static', filename = 'icons/chat.svg') }}"> Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="{{ url_for('static', filename = 'icons/people.svg') }}"> Friends</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="{{ url_for('static', filename = 'icons/list.svg') }}"> Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="{{ url_for('static', filename = 'icons/gear.svg') }}"> Settings</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="text-center" style="width: 1000px">
                    {% block app_content %}{% endblock %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}