{% extends 'main/base.html' %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><img src="{{ avatars.gravatar(user.email) }}"></td>
            <td style="padding-left: 40px"><h1>{{ user.username }}</h1></td>
        </tr>
    </table>
    {% for post in posts %}
    <table>
        <tr>
            <td><img src={{ avatars.gravatar(post.author.email, 36) }}></td>
            <td>
                <table>
                    <tr>
                        <td style="padding-left: 10px" align="left">{{ post.author.username }}</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10px">{{ post.body }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <hr style="width: 950px; margin-left: 40px">
    </table>
    {% endfor %}
{% endblock %}